* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
  }
  html{
    font-size: 62.5%;
  }
  body {
    background-color: #f0f4f5;
    overflow: hidden;
  }
  
  
  /* Nav baar editing */
  li{
    list-style: none;
  }
  li a{
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  nav{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 60rem;
    margin-top: 2.2rem;
  }
  nav ul{
    display: flex;
    column-gap: 5rem;
    position: relative;
    right: 4rem;
    top: 2rem;
  }
  ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #20bc7e;
  }
  nav .logo img{
    width: 15rem;
  }

  
  /* main */
  main{
    margin-top: 11.5rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }
  main h1{
    font-size: 3.2rem;
    color: #20bc7e;
  }
  main p{
    font-size: 1.8rem;
    color: black;
  }

  /* footer */
  footer{
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
  }
  footer div{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    height: 16vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  footer div h1{
    color: #20bc7e;
    font-size: 2.5rem;
  }
  footer div h2{
    color: black;
    font-size: 2rem;
  }





  /* Media query */
  @media screen and (max-width:425px){
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "IBM Plex Sans", sans-serif;
    }
    html{
      font-size: 45%;
    }
    body {
      width: 100%;
      background-color: #f0f4f5;
      overflow: hidden;
    }
    
    
    /* Nav baar editing */
    li{
      list-style: none;
    }
    li a{
      font-size: 1.8rem;
      text-decoration: none;
      font-weight: 500;
      color: black;
    }
    nav{
      height: 10vh;
      width: 100%;
      margin-top: 2.2rem;
    }
    nav ul{
      position: relative;
      right: 28rem;
    }
    ul li a:hover{
      cursor: pointer;
      text-decoration: underline;
      color: #20bc7e;
    }
    nav .logo img{
      position: relative;
      left: 27rem;
      width: 20rem;
    }
  
    
    /* main */
    main{
      width: 100%;
      margin-top: 10rem;
      height: 25vh;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      align-items: center;
    }
    main h1{
      width: 95%;
      margin-left: 0.5rem;
      font-size: 3rem;
      color: #20bc7e;
    }
    main p{
      font-size: 1.8rem;
      color: black;
    }
  
    /* footer */
    footer{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5rem;
    }
    footer div{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    height: 7vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    }
    footer div h1{
      color: #20bc7e;
      font-size: 2.5rem;
    }
    footer div h2{
      color: black;
      font-size: 2rem;
    }
  }