#container{
    display: flex;
    column-gap: 1rem;
}
#parent-container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 32, 32);
    width: 19rem;
    border-radius: 4px;
    margin-top: 2rem;
}
#result{
    padding: 2rem 0;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.button{
    padding: 0.9rem 1.6rem;
    border-radius: 4px;
    border: transparent;
}
.button:hover{
   background-color: rgb(250, 200, 200);
   cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}